body,h1,h2,p,ul {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: 'Arial', sans-serif;

}

/* Hero Banner */
.hero-banner {
  box-sizing: border-box;

  color: #fff;
  text-align: center;
  padding: 50px;
  width: 100%;
  height: 600px;
  background-image: url('../img/activity/aHeaderPic.png');
  background-size: cover;
  background-position: center;
  position: relative;
}


/* make back pic darker */
.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  /* Black background with 50% opacity */
  z-index: 1;
}

.hero-banner * {
  position: relative;
  z-index: 2;
}


.logo {
  position: absolute;
  top: 5%;
  /* Adjust the top position as needed */
  left: 2%;
  /* Adjust the left position as needed */
  width: 20%;
  /* Adjust the width as needed */
  height: auto;
  /* Maintain aspect ratio */
}

/* Navigation Bar */
.navigation-bar a {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding: 0px 0px;
}

/* oakville.ca */
.official {
  font-weight: bold;
}

/* ACTIVITY */
.title {
  display: flex;
  flex-direction: column;
  /* Change this to column */
  align-items: flex-start;
  /* Change this to flex-start */
  margin-top: 15%;
  padding-left: 10%;;
}

.title h1 {
  font-size: 300%;
}

.title p {
  align-self: flex-start;
  /* Add this to align the p tag to the left */
  width: 40%;
  text-align: left;
  font-size: 12px;
  padding-top: 2%;
}

/* share icons */
.share {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: -100px;
}

.share img {
  width: 20%;
  height: auto;
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
}

/* carousel */
.carousel {
  display: flex;
  justify-content: center;
  position: absolute;
  

}

.carousel-image {
  z-index: 2;

  position: absolute;
  text-align: center;

 
  margin-top: -10%;
  width: 80%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.carousel-image.active {
  opacity: 1;
}

.thumbnails {
  position: relative;

  z-index: 5;

  padding-top: 30%;
  display: flex;
  justify-content: center;
}

.thumbnail {
  z-index: 3;

  
  width: 14.5%;
  height: auto;
  margin: 0px;
  padding: 10px;
}

.info {
  padding-top: 50%;
  margin-left: 100px;
}

/* trail name */
.info h2, h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: CENTER;
  padding-bottom: 10px;
}

/* location */
.info h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.info img {
  width: 100%;
  height: auto;
  padding-top: 2%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "head head2 head3 " ;

    column-gap: 1ch;
}

.grid1{
    grid-area: head;
}

.grid2{
    grid-area: head2 head3;
}

.admin{
  text-align: center;
  padding-bottom: 50px;
  padding-top: -50px;
}

.admin h1{
  font-size: 50px;
}